html,body{
    margin: 0;
    padding: 0;
    max-width: 100%;
    font-family: 'serif ;
}
section{
    max-width: 100%;
    <!-- min-height: 500px;-->

}
.container {
    display: block;
    margin: 0 auto;
    width: 968px;
}
section.header{
    min-height: 50px;
    padding: 10px;
    background-color:;
    font-size: 20px;
}
.header > .container > div{
    display: inline-block;
}
.header .nav{
    float: right;
}
.header .azmi{
    float: left;
    word-spacing: 10px;
}
.nav ul li {
    display: inline-block;
}
.nav ul li a{
    padding: 10px;
}
.landingpg{
    background-image:url( "../pic/image2.jpg");
    background-attachment: relative;
    background-repeat: no-repeat;
    background-size: 100%;
    padding:300px 100px;
    text-align: center ;
    vertical-align: middle ;
    font-size: 70px;
    
}
.about {
    min-height: 0!important;
    background-image: url("../pic/image-3.jpg");
    background-position: right;
    background-size: 50%;
    background-repeat: no-repeat;
}
.heading{
    display: block;
    transform: rotate(-10px);
    font-family:'Nanum Pen Script', serif ;
    font-style: italic;
    word-spacing: 10px;
    font-size: 30px;
    color: rgb(197, 97, 114);
    position: absolute;
    top: 0px;
    left: 0px;
    
}
.about .container{
    padding: 100px 100px;
}
<!--.about-content{
    display: block;
    padding: 40px 20px;
    font-family: 'Nanum Pen Script', serif ;
    font-size: 20px;
    background:rgb(248, 193, 202);
    background-size: 100px;
    text-align: left;
    background-clip: padding-box;
    position: relative;
    max-width: 500px;
    
} -->
.about-heading{
    display: block;
    transform: rotate(10px);
    font-family:'Nanum Pen Script', serif ;
    font-style: italic;
    word-spacing: 10px;
    font-size: 30px;
    color: rgb(197, 97, 114);
    position: absolute;
    top: 0px;
    left: 0px;
}
.skills .container{
    padding: 100px 20px;
}
.skills-content img{
    max-width: 150px;
}
.skills-content ul li{
    display: inline-block;
    margin: 5px;
}
.contact .container{
    padding: 100px 20px;
}
.contact img{
max-width: 150px;
}
.contact ul li{
    display: inline;
    margin: auto;
}
section.footer{
    min-height: 35px;
    background-color: rgb(241, 187, 196); 
    text-align: center;
    font-size: 16px;
}